Repository zulip/zulip-mobile, pull requests merged in 2020-02, with the labels that each got.

#3859 compose box: Trim leading and trailing whitespace in topic.
  src/compose/ComposeBox.js
Labels: P1 high-priority

#3855 MessageList: Clear ready retry interval on componentWillUnmount.
  src/webview/MessageList.js
Labels: a-message list

#3850 docs/howto/debugging: Move "you can skip this step" to top of the step.
  docs/howto/debugging.md
Labels: a-documentation, bite size

#3917 api types [nfc]: Remove sole reference to deprecated 'pointer' in use…
  src/api/users/getUserProfile.js
Labels: api migrations, bite size
