Repository zulip/zulip-mobile, pull requests merged in 2021-10, with the labels that each got.

#5025 persist: Retry failed writes on next update
  src/third/redux-persist/createPersistor.js
Labels: a-redux

#4955 deps: Upgrade flow-coverage-report to 0.8.0, the latest.
  package.json
  yarn.lock
Labels: dependencies

#4856 a-compose-send: added more "not typing anymore" notifications
  src/compose/ComposeBox.js
Labels: a-compose/send
