Repository zulip/zulip-mobile, pull requests merged in 2021-11, with the labels that each got.

#5091 android sharing [nfc]: Rename and javadoc the shim activity
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/zulipmobile/ShareToZulipActivity.kt
Labels: a-Android, a-share-to

#5094 deps: Upgrade jest-expo to 43, which officially targets RN v0.64
  package.json
  yarn.lock
Labels: dependencies

#5106 tools/test: Use `local` throughout
  tools/test
Labels: a-tools

#5111 webview: Have 'content' event only replace what's in msglistElementsDiv
  src/webview/generateInboundEvents.js
  src/webview/js/generatedEs3.js
  src/webview/js/js.js
Labels: a-message list, P1 high-priority

#5112 ios [nfc]: Finish cleaning up unused `AppIdentifierPrefix` logic
  ios/ZulipMobile/Info.plist
Labels: a-iOS

#5138 android notifs: Fix regression where notifs dropped when avatar not fetched
  android/app/src/main/java/com/zulipmobile/notifications/NotificationUiManager.kt
Labels: a-Android, a-notifications
