Repository zulip/zulip-mobile, pull requests merged in 2022-11, with the labels that each got.

#5535 android: Fix build to get react-native only from local Maven repo
  android/build.gradle
Labels: a-Android, P0 critical

#5539 i18n: Drop empty, discontinued translations fr_FR, hr_HR, nb_NO
  flow-typed/translations.js
  src/i18n/messages.js
  static/translations/messages_fr_FR.json
  static/translations/messages_hr_HR.json
  static/translations/messages_nb_NO.json
Labels: a-i18n

#5541 i18n: Update for new Transifex client
  .gitignore
  .tx/config
  docs/howto/translations.md
  tools/tx-pull
  tools/tx-sync
Labels: a-tools, P1 high-priority, a-i18n

#5544 msglist [nfc]: Convert the wrapper HOCs to more Hooks
  src/webview/MessageList.js
Labels: a-message list, P1 high-priority, server release goal

#5552 Mark as read in bounded batches; ignore "messages" in response
  src/api/messages/updateMessageFlags.js
  src/api/queueMarkAsRead.js
Labels: a-data-sync

#5556 build-run doc: Add troubleshooting entry for odd, hard-to-debug build error
  docs/howto/build-run.md
Labels: a-documentation

#5568 offline notice: Remove entrance/exit animation on Android
  src/boot/OfflineNoticeProvider.js
Labels: P0 critical

#5564 ChatScreen: Fix blank strip between compose box and keyboard on iOS
  src/chat/ChatScreen.js
  src/common/KeyboardAvoider.js
  src/compose/ComposeBox.js
Labels: a-iOS, a-layout, a-compose/send
